@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-lighter: color-mix(in srgb, var(--background) 90%, white);
  --background-darker: color-mix(in srgb, var(--background) 80%, black);
}
@custom-variant dark (&:where(.dark, .dark *));
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --background-lighter: color-mix(in srgb, var(--background) 90%, white);
  --background-darker: color-mix(in srgb, var(--background) 80%, black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-nunito);
}

