@import "tailwindcss";

:root {
    --background: #ffffff;
    --background-soft: #f8f9fa;
    --background-lighter: #f1f3f5;
    --background-darker: #e9ecef;
    --background-dark: #dee2e6;

    --foreground: #212529;
    --foreground-soft: #495057;
    --foreground-muted: #868e96;

    --accent: #f43f5e;
    --accent-soft: #fb7185;
    --highlight: #fff5f5;

    /* TODO: differenet gradients for different themes */
    --gradient-start: #0f172a;
    --gradient-middle: #1e293b;
    --gradient-end: #fb7185;
}

@custom-variant dark (&:where(.dark, .dark *));

.dark {
    --background: #0a0a0a;
    --background-soft: #141414;
    --background-lighter: #1a1a1a;
    --background-darker: #222222;
    --background-dark: #2a2a2a;

    --foreground: #f8f9fa;
    --foreground-soft: #e9ecef;
    --foreground-muted: #adb5bd;

    --accent: #fb7185;
    --accent-soft: #f43f5e;
    --highlight: #1e293b;

    --gradient-start: #0f172a;
    --gradient-middle: #1e293b;
    --gradient-end: #fb7185;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-nunito: var(--font-nunito);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-nunito);
}
